// ------------------------------------------------------ \\
// This file contains all BASE styles.
// ------------------------------------------------------ \\

*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  background-color: $grey-cold-dark;
  font-family: $font-oswald;
  width: auto;
  overflow-x: hidden;
  min-height: 100vh;
  padding-right: 0px !important;
  margin: 0;
}

body {
  background-image: url("../../static/images/main-bg2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/**
 * Custom scrollbar
 */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($grey-cold-dark, .4); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $pomegranate;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($pomegranate, 10%); 
}

// /*------------------------------------*\
//     #FONTs
// \*------------------------------------*/

$baseline: 16px;

$base-font-size: $baseline;