.btn-white {
    color: $alabaster-white;
    background-color: none !important;
    border: 1px solid $alabaster-white;
    transition: .5s;
    &:hover {
        transform: scale(1.05);
        color: lighten($alabaster-white, 20%);
        box-shadow: 0 0 3px 3px rgba($pomegranate, .3);
    }
}